#form-boundaries{
    background-color: #f6f6f6;
    background-color: #f3f3f3;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: auto;
    padding: 1%;
}

#inner-form{
    background-color: white;
}

.form-table{
    width: 100%;
    position: relative;
    
}

.left-column{
    text-align: right;
}
.form-table,
    tr>td{
        padding: 2%;
    }

.alert{
    color: red;
}
/* .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
/* .form-table,
    td{
        width: 100%;
    } */
/* .form-table,
 left-column{
    background-color: black;
} */